.HomepageAccessContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    position: relative;
    height: 100vh;
}

.HomepageAccessImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.HomepageAccessWrapper {
    display: flex;
    justify-content: center;
}

.HomepageAccessInlog{
    position: absolute;
    top: 20px
}

