.HomePageLogin {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.HomePageLoginForm {
    border-bottom: 1px solid var(--itum-border);
}

.HomePageLoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--black-background);
    color: var(--text-color);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: max-content;

}

.HomePageLoginWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.HomePageLoginFormInputFeld {
    width: 100%;
}

.HomePageLoginTitle {
    font-size: 50px;
    color: var(--text-color);
    margin-bottom: 10px;

}

.HomePageLoginItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.HomePageLoginLabel {
    font-size: 12px;
    margin: 10px 0px;
}

.MyToolsAddFormError {
    color: var(--error)
}

.HomePageLoginInput {
    height: 30px;
    border: none;
    padding: 5px;
    width: 100%;
}


.HomePageLoginSubmitButton {
    padding: 10px;
    background-color: var(--black-background);
    color: var(--border);
    border: none;
    width: 100%;
    cursor: pointer;
}

.HomePageLoginSubmitButton svg {
    width: 30px;
    height: 30px;
}

.HomePageLoginRegisterButton {
    background-color: var(--black-background);
    color: var(--text-color);
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.HomePageLoginRegisterButton svg{
    width: 30px;
    height: 30px;
}


















