
.HomePageAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.HomePageAddProfileImg{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 500px;
}

.HomePageAddProfile {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.HomePageAddProfileForm {
    border-bottom: 1px solid var(--itum-border);
}

.HomePageAddProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--black-background);
    color: var(--text-color);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: max-content;
}


.HomePageAddProfileWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.HomePageAddProfileInputFeld {
    width: 100%;
}

.HomePageAddProfileTitle {
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.HomePageAddProfileItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.HomePageAddProfileLabel {
    font-size: 12px;
    margin: 10px 0px;
}

.MyToolsAddFormError {
    color: var(--error)
}

.HomePageAddProfileInput {
    height: 30px;
    border: none;
    padding: 5px;
    width: 100%;
}

.HomePageAddProfileSubmitButton {
    padding: 10px;
    background-color: var(--black-background);
    color: var(--border);
    border: none;
    width: 100%;
    cursor: pointer;
}

.HomePageAddProfileSubmitButton svg {
    width: 30px;
    height: 30px;
}










