.ProjectSingelPost {
    flex: 9;
}

.ProjectSingelPostWrapper {
    padding: 20px;
}

.ProjectSingelPostImg {
    width: 100%;
    height: 330px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 10px;
}

.ProjectSingelPostTitle {
    text-align: center;
    margin: 10px;
    font-size: 50px;
}

.ProjectSingelPostEdit {
    float: right;
}

.ProjectSingelPostEdit > button {
    background-color: var(--white-background);
    border: none;
}

.ProjectSingelPostEdit svg {
    width: 40px;
    height: 40px;
}

.ProjectSingelPostIcon {
    margin-left: 20px;
}

.ProjectSingelPostIcon:first-child {
    color: var(--error);
    cursor: pointer;
}

.ProjectSingelPostIcon:last-child {
    color: var(--border);
    cursor: pointer;
}

.ProjectSingelPostHeader {
    display: flex;
    justify-content: space-between;
}

.ProjectSingelPostInfo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: var(--accent-text);
}

.ProjectSingelPostAuthor {
}

.ProjectSingelPostDate {
}

.ProjectSingelPostArticle {
    font-size: 18px;
    line-height: 25px;
    margin: 0px 20px 0px 20px;
}

.ProjectSingelPostList {
    display: flex;
    align-items: start;
}

.ProjectSingelPostList > article {
    flex: 5;
}

.TodoList {
    flex: 2;
    background-color: var(--black-background);
    color: var(--text-color);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.TodoList > h2 {
    border-bottom: 1px solid var(--search-border);
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
}

.TodoListItems {
    background-color: var(--white-background);
    color: black;
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    margin: 5px;
}

.EnrolledInProject {
    flex: 1;
    background-color: var(--black-background);
    color: var(--text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px 0px;
}

.EnrolledInProject > h2 {
    border-bottom: 1px solid var(--search-border);
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
}


.EnrolledInProjectItems {
    background-color: var(--white-background);
    color: black;
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.TodoListItemTodo {
    display: flex;
    justify-content: space-between;
    margin: 6px;
    flex-direction: row;
}


.TodoListItemTodo > button {
    background-color: var(--white-background);
    color: var(--error);
    border: none;
    cursor: pointer;
}

.TodoListItemTodo svg {
    height: 25px;
    width: 25px;
}

.TodoListItemsDefinition {
    margin: 6px;
}

.TodoListAddTodo {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 6px;
    border-radius: 5px;
    border-bottom: 1px solid var(--search-border);
    margin-bottom: 10px;
}

.TodoListAddTodoInput {
    border-radius: 5px;
    padding: 6px;
    border: none;
}

.TodoListAddTodoInput:focus {
    outline: none;
}

.TodoListAddTodoTextGroup {
    border-radius: 5px;
    padding: 6px;
    border: none;
}

.TodoListAddTodoTextGroup:focus {
    outline: none;
}

.TodoListAddTodo > button {
    background-color: var(--black-background);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    margin-bottom: 10px;
}

.TodoListAddTodo svg {
    width: 30px;
    height: 30px;
}

.TodoListError{
    color: red;
    font-size: 20px;
}
