
.HomePageWelkomContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid red;
}

.HomePageWelkomWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    border: 1px solid black;
}

.HomePageWelkomTitle{
    font-size: 20px;
}

.HomePageWelkomPreface{

}

