
.lendToolList{}


.lendToolListContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.lendToolListWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.lendToolListSearch{
    flex: 1;
    background-color: orange;
    /*background-color: var(--border);*/
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.lendToolListTitle{
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.lendToolListResult{
    flex: 3
}

.lendToolListItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lendToolListItem>label{
    font-size: 12px;
}

.lendToolListItem>input{
   height: 30px;
    border: none;
    padding: 5px;
}

.lendToolListItem>span{
   height: 30px;
    padding: 5px;
    background-color: var(--white-background);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lendToolListSearch>button{
    padding: 10px;
    background-color: var(--search-border);
    color: var(--text-color);
    border: none;
    width: 100%;
    cursor: pointer;

}
