.MyEnrolledProjectsItems{
    border: 1px solid var(--itum-border);
    padding: 10px 35px 10px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    position: relative;

    width: 700px;
}

.MyEnrolledProjectsInfo{
    display: flex;
    flex-direction: column;
}

.MyEnrolledProjectsItems button{
    background-color: var(--white-background);
    border: none;
    cursor: pointer;
}

.MyEnrolledProjectsItems svg{
    width: 40px;
    height: 40px;
    color: var(--error);
}