
.ProjectsSidebarSticky{
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}

.ProjectsSidebar {
    flex: 3;
    margin: 30px 20px 0px 20px;
    /*padding-bottom: 30px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectsSidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--black-background);
    color: var(--text-color);
    border-radius: 10px;
}

.ProjectsSidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 200px;
    border-top: 1px solid var(--itum-border);
    border-bottom: 1px solid var(--itum-border);
    font-size: 20px;
    /*color: var(--accent-text);*/
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.ProjectsSidebarImg{
    max-width: 400px;
    margin-top: 15px;
}

.ProjectsSidebarPText{
    padding: 30px;
}

.ProjectsSidebarList{
    list-style: none;
    margin-bottom: 30px;
}

.ProjectsSidebarListItem{
    display: block;
    width: 50px;
    margin-top: 15px;
    cursor: pointer;
}

.ProjectsSidebarSociaal{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjectsSidebarIcon{
    font-size: 16px;
    margin-left: 15px;
    padding-bottom: 20px;
}