.footer {
    text-align: center;
    background-color: var(--black-background);
    color: var(--text-color);
    width: 100%;
    font-size: 12px;
    padding: 10px;
    height: 50px;
    margin-top: 20px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
